.pagination-buttons{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 10px auto; 
}
.previous,
.next {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    
}

.previous:hover,
.next:hover{
    border: 1px solid lightgray;
    box-sizing: border-box;
}
.fa-greater-than,
.fa-less-than {
    font-size: 10px;
}
.clicked {
    background-color: blue;
    color: white;
}
