
.issues-body {
    width: 85%;
    margin: 0 auto;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    padding: 10px 10px;
}

/* .issues-body:last-child{
    border-radius: 0 0 10px 10px;
} */

.issues-body.hover{
    background-color: #f6f8fa;
}

.issues-list {
    display: grid;
    grid-template-columns: 2% 50% repeat(6, 8%);
    grid-column-gap: 5px;
}
.issues-list:last-child {
    border-radius: 0 0 10px 10px;
}
.issues-list .title {
    font-weight: 600;
}

.issues-list .fa-check-circle{
    color: #bfa5dd;
}
.issues-list .fa-dot-circle {
    color: #75ba75;
}
.additional-info {
    padding-left: calc(2% + 5px);
    font-size: 12px;
    padding-top: 5px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
.fff {
    border-radius: 0 0 10px 10px;
}
