.pagination-buttons{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 10px auto; 
}
.previous,
.next {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: aquamarine;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    border: none;
    
}
